button {
  padding: 3rem;
  font-size: 5rem;
}

.buttons {
  display: flex;
  justify-content: center;
  gap: 1rem;
  padding: 1rem;
  margin: 3rem;
  flex: 1 1 0;
}

.result {
  display: flex;
  justify-content: center;
  margin: 10rem;
  font-size: 5rem;
}

.score-board {
  display: flex;
  justify-content: center;
  font-size: 5rem;
}
